@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8c53be, #4a00e0);
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.header {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.header h1 {
  padding: 15px;
  font-size: 45px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 3px 3px 5px 5px;
  border-radius: 3px;
}
.book_card {
  border: 2px solid #fff;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_movie {
  background-color: rgb(0, 206, 48);
  color: #fff;
  border: 0px;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.add_movie:hover {
  background-color: rgb(4, 147, 37);
}
.book_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 25px;
}
.book_card {
  background-color: #fff;
  padding: 25px;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.book_card p {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 800;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  margin-top: 11px;
  background-color: rgb(0, 206, 48);
  display: inline-block;
  border: none;
  padding: 15px;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 8px;
}
#error {
  background-color: rgb(255, 176, 176);
  margin: 7px;
  padding: 7px;
  border-radius: 7px;
  display: none;
}
.del_button,
.read_button {
  width: 100%;
  margin: 15px 0px 0px 0px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
.del_button {
  background-color: red;
  color: #fff;
  margin-top: 5px;
}
.read_button {
  background-color: rgb(0, 206, 48);
  color: #fff;
}

.book_card p {
  padding: 5px;
}

.book_card .read {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
}
.footer {
  background-color: #fff;
  margin-top: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.footer p, .footer a{
  color: #000;
  text-decoration: none;
}
